<div class="container">
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>App Component</h1>
            <div class="row">
                <hr>
            </div>
            <app-servers></app-servers>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <app-details></app-details>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <app-user></app-user>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <app-alerts></app-alerts>
            </div>
            <div class="row">
                <hr>
            </div>
        </div>
    </div>
</div>